apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{BOOTSTRAP_TOKEN}}
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
  name: {{HOSTNAME_OVERRIDE}}
  kubeletExtraArgs:
    feature-gates: {{FEATURE_GATES}}
    cloud-provider: {{EXTERNAL_CLOUD_PROVIDER}}
    provider-id: {{PROVIDER_ID}}
    node-ip: {{NODE_IP}}
    hostname-override: {{HOSTNAME_OVERRIDE}}
    image-credential-provider-bin-dir: /usr/local/bin
    image-credential-provider-config: /etc/kubernetes/credential-provider.yaml
    resolv-conf: /run/systemd/resolve/resolv.conf
    system-cgroups: /system.slice
    runtime-cgroups: /runtime.slice
    kubelet-cgroups: /runtime.slice
    cgroup-root: /
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{KUBERNETES_VERSION}}
apiServer:
  extraArgs:
    feature-gates: {{FEATURE_GATES}}
    runtime-config: {{RUNTIME_CONFIG}}
  certSANs:
  - {{EXTRA_SANS}}
controllerManager:
  extraArgs:
    cloud-provider: {{EXTERNAL_CLOUD_PROVIDER}}
    feature-gates: {{FEATURE_GATES}}
scheduler:
  extraArgs:
    feature-gates: {{FEATURE_GATES}}
networking:
  podSubnet: {{POD_CIDR}}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
failCgroupV1: false
